# Private source repository; configure Git credentials before installation.
motor-ft @ git+https://github.com/florian6973/meds-model-motor-ft.git@9c250136eb4caeff233152b43fa09a41a2c5bd4e
ora @ git+https://github.com/florian6973/femr_chao_meds_v3.git@5adf7c6428a61538ff498075954165b8de978b3c
meds_reader==0.1.13
xformers==0.0.29.post3
torch==2.6.0
transformers[torch]>=4.44,<5
