# Private source repository; configure Git credentials before installation.
meds-eic-ar-sup @ git+https://github.com/florian6973/meds-model-meds-eic-ar-sup.git@b7b30a5130e6e0879b1766fbd0006e27e0341a68
