# Private source repository; configure Git credentials before installation.
meds-eic-ar-sup @ git+https://github.com/florian6973/meds-model-meds-eic-ar-sup.git@4948a9c650ede4dd36fa71fe0d22506f1910f9cc
