# Private source repository; configure Git credentials before installation.
teco @ git+https://github.com/florian6973/meds-model-teco.git@454f435cb1e78e620baf625eaec1cdc0b25e7a24#subdirectory=models/01_01_teco
