# Private source repository; configure Git credentials before installation.
retain @ git+https://github.com/florian6973/meds-model-retain.git@003bacb69ba901ff00c54c9d86f8aa3e9ec996d9#subdirectory=models/01_19_retain
